## Car Price Prediction

In [78]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [79]:
car = pd.read_csv(r"C:\Users\Dell\Desktop\Machine Learning\Projects\Car Price Prediction\Dataset\quikr_car.csv")

In [80]:
car

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel
...,...,...,...,...,...,...
887,Ta,Tara,zest,"3,10,000",NaN,NaN
888,Tata Zest XM Diesel,Tata,2018,"2,60,000","27,000 kms",Diesel
889,Mahindra Quanto C8,Mahindra,2013,"3,90,000","40,000 kms",Diesel
890,Honda Amaze 1.2 E i VTEC,Honda,2014,"1,80,000",Petrol,NaN
891,Chevrolet Sail 1.2 LT ABS,Chevrolet,2014,"1,60,000",Petrol,NaN

In [81]:
car.shape

(892, 6)

In [82]:
car.head(10)

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel
5,Ford EcoSport Titanium 1.5L TDCi,Ford,2015,Ask For Price,"59,000 kms",Diesel
6,Ford Figo,Ford,2012,"1,75,000","41,000 kms",Diesel
7,Hyundai Eon,Hyundai,2013,"1,90,000","25,000 kms",Petrol
8,Ford EcoSport Ambiente 1.5L TDCi,Ford,2016,"8,30,000","24,530 kms",Diesel
9,Maruti Suzuki Alto K10 VXi AMT,Maruti,2015,"2,50,000","60,000 kms",Petrol

In [83]:
car[(car['company']=='Mahindra') & (car['year']=='2006')]

                         name   company  year     Price kms_driven fuel_type
1     Mahindra Jeep CL550 MDI  Mahindra  2006  4,25,000     40 kms    Diesel
15    Mahindra Jeep CL550 MDI  Mahindra  2006  4,25,000     40 kms    Diesel
382  Mahindra Jeep MM 550 XDB  Mahindra  2006  4,25,000    122 kms    Diesel

In [84]:
car.dtypes

name          object
company       object
year          object
Price         object
kms_driven    object
fuel_type     object
dtype: object

In [85]:
# car['year']=pd.to_datetime(car['year'],format='%Y')

In [86]:
car.dtypes

name          object
company       object
year          object
Price         object
kms_driven    object
fuel_type     object
dtype: object

In [87]:
# car['year'] = pd.to_numeric(car['year'], errors='coerce').astype('Int64')

In [88]:
car.dtypes

name          object
company       object
year          object
Price         object
kms_driven    object
fuel_type     object
dtype: object

In [89]:
car

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel
...,...,...,...,...,...,...
887,Ta,Tara,zest,"3,10,000",NaN,NaN
888,Tata Zest XM Diesel,Tata,2018,"2,60,000","27,000 kms",Diesel
889,Mahindra Quanto C8,Mahindra,2013,"3,90,000","40,000 kms",Diesel
890,Honda Amaze 1.2 E i VTEC,Honda,2014,"1,80,000",Petrol,NaN
891,Chevrolet Sail 1.2 LT ABS,Chevrolet,2014,"1,60,000",Petrol,NaN

In [90]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   company     892 non-null    object
 2   year        892 non-null    object
 3   Price       892 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: object(6)
memory usage: 41.9+ KB

In [91]:
car.isna().sum()

name           0
company        0
year           0
Price          0
kms_driven    52
fuel_type     55
dtype: int64

In [92]:
car['fuel_type'].unique()

array(['Petrol', 'Diesel', nan, 'LPG'], dtype=object)

## Data Quality

Year
-- year column contain non year data that need to remove.
-- year column need to convert into integar
Price
-- 'Ask by price' value are in Price columns that need to remove
-- numbers contain with comma in Price values.
Kms_driven
-- Kms_driven column contain kms and object datatype and need to remove comma
Fuel_type
-- fuel_type column contain null values

In [93]:
backup=car.copy()

## Cleaning

In [94]:
car

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel
...,...,...,...,...,...,...
887,Ta,Tara,zest,"3,10,000",NaN,NaN
888,Tata Zest XM Diesel,Tata,2018,"2,60,000","27,000 kms",Diesel
889,Mahindra Quanto C8,Mahindra,2013,"3,90,000","40,000 kms",Diesel
890,Honda Amaze 1.2 E i VTEC,Honda,2014,"1,80,000",Petrol,NaN
891,Chevrolet Sail 1.2 LT ABS,Chevrolet,2014,"1,60,000",Petrol,NaN

In [95]:
car=car[car['year'].str.isnumeric()]

In [96]:
car['year']= pd.to_numeric(car['year'],errors='coerce').astype('Int64')

C:\Users\Dell\AppData\Local\Temp\ipykernel_18664\3166575615.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  car['year']= pd.to_numeric(car['year'],errors='coerce').astype('Int64')

In [97]:
car.dtypes

name          object
company       object
year           Int64
Price         object
kms_driven    object
fuel_type     object
dtype: object

In [98]:
car['Price'].unique()

array(['80,000', '4,25,000', 'Ask For Price', '3,25,000', '5,75,000',
       '1,75,000', '1,90,000', '8,30,000', '2,50,000', '1,82,000',
       '3,15,000', '4,15,000', '3,20,000', '10,00,000', '5,00,000',
       '3,50,000', '1,60,000', '3,10,000', '75,000', '1,00,000',
       '2,90,000', '95,000', '1,80,000', '3,85,000', '1,05,000',
       '6,50,000', '6,89,999', '4,48,000', '5,49,000', '5,01,000',
       '4,89,999', '2,80,000', '3,49,999', '2,84,999', '3,45,000',
       '4,99,999', '2,35,000', '2,49,999', '14,75,000', '3,95,000',
       '2,20,000', '1,70,000', '85,000', '2,00,000', '5,70,000',
       '1,10,000', '4,48,999', '18,91,111', '1,59,500', '3,44,999',
       '4,49,999', '8,65,000', '6,99,000', '3,75,000', '2,24,999',
       '12,00,000', '1,95,000', '3,51,000', '2,40,000', '90,000',
       '1,55,000', '6,00,000', '1,89,500', '2,10,000', '3,90,000',
       '1,35,000', '16,00,000', '7,01,000', '2,65,000', '5,25,000',
       '3,72,000', '6,35,000', '5,50,000', '4,85,000', '3,29,500',
       '2,51,111', '5,69,999', '69,999', '2,99,999', '3,99,999',
       '4,50,000', '2,70,000', '1,58,400', '1,79,000', '1,25,000',
       '2,99,000', '1,50,000', '2,75,000', '2,85,000', '3,40,000',
       '70,000', '2,89,999', '8,49,999', '7,49,999', '2,74,999',
       '9,84,999', '5,99,999', '2,44,999', '4,74,999', '2,45,000',
       '1,69,500', '3,70,000', '1,68,000', '1,45,000', '98,500',
       '2,09,000', '1,85,000', '9,00,000', '6,99,999', '1,99,999',
       '5,44,999', '1,99,000', '5,40,000', '49,000', '7,00,000', '55,000',
       '8,95,000', '3,55,000', '5,65,000', '3,65,000', '40,000',
       '4,00,000', '3,30,000', '5,80,000', '3,79,000', '2,19,000',
       '5,19,000', '7,30,000', '20,00,000', '21,00,000', '14,00,000',
       '3,11,000', '8,55,000', '5,35,000', '1,78,000', '3,00,000',
       '2,55,000', '5,49,999', '3,80,000', '57,000', '4,10,000',
       '2,25,000', '1,20,000', '59,000', '5,99,000', '6,75,000', '72,500',
       '6,10,000', '2,30,000', '5,20,000', '5,24,999', '4,24,999',
       '6,44,999', '5,84,999', '7,99,999', '4,44,999', '6,49,999',
       '9,44,999', '5,74,999', '3,74,999', '1,30,000', '4,01,000',
       '13,50,000', '1,74,999', '2,39,999', '99,999', '3,24,999',
       '10,74,999', '11,30,000', '1,49,000', '7,70,000', '30,000',
       '3,35,000', '3,99,000', '65,000', '1,69,999', '1,65,000',
       '5,60,000', '9,50,000', '7,15,000', '45,000', '9,40,000',
       '1,55,555', '15,00,000', '4,95,000', '8,00,000', '12,99,000',
       '5,30,000', '14,99,000', '32,000', '4,05,000', '7,60,000',
       '7,50,000', '4,19,000', '1,40,000', '15,40,000', '1,23,000',
       '4,98,000', '4,80,000', '4,88,000', '15,25,000', '5,48,900',
       '7,25,000', '99,000', '52,000', '28,00,000', '4,99,000',
       '3,81,000', '2,78,000', '6,90,000', '2,60,000', '90,001',
       '1,15,000', '15,99,000', '1,59,000', '51,999', '2,15,000',
       '35,000', '11,50,000', '2,69,000', '60,000', '4,30,000',
       '85,00,003', '4,01,919', '4,90,000', '4,24,000', '2,05,000',
       '5,49,900', '4,35,000', '1,89,700', '3,89,700', '3,60,000',
       '2,95,000', '1,14,990', '10,65,000', '4,70,000', '48,000',
       '1,88,000', '4,65,000', '1,79,999', '21,90,000', '23,90,000',
       '10,75,000', '4,75,000', '10,25,000', '6,15,000', '19,00,000',
       '14,90,000', '15,10,000', '18,50,000', '7,90,000', '17,25,000',
       '12,25,000', '68,000', '9,70,000', '31,00,000', '8,99,000',
       '88,000', '53,000', '5,68,500', '71,000', '5,90,000', '7,95,000',
       '42,000', '1,89,000', '1,62,000', '35,999', '29,00,000', '39,999',
       '50,500', '5,10,000', '8,60,000', '5,00,001'], dtype=object)

In [99]:
car['Price']=car['Price'].str.replace(',','')

C:\Users\Dell\AppData\Local\Temp\ipykernel_18664\2888702569.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  car['Price']=car['Price'].str.replace(',','')

In [100]:
car['Price'].unique()

array(['80000', '425000', 'Ask For Price', '325000', '575000', '175000',
       '190000', '830000', '250000', '182000', '315000', '415000',
       '320000', '1000000', '500000', '350000', '160000', '310000',
       '75000', '100000', '290000', '95000', '180000', '385000', '105000',
       '650000', '689999', '448000', '549000', '501000', '489999',
       '280000', '349999', '284999', '345000', '499999', '235000',
       '249999', '1475000', '395000', '220000', '170000', '85000',
       '200000', '570000', '110000', '448999', '1891111', '159500',
       '344999', '449999', '865000', '699000', '375000', '224999',
       '1200000', '195000', '351000', '240000', '90000', '155000',
       '600000', '189500', '210000', '390000', '135000', '1600000',
       '701000', '265000', '525000', '372000', '635000', '550000',
       '485000', '329500', '251111', '569999', '69999', '299999',
       '399999', '450000', '270000', '158400', '179000', '125000',
       '299000', '150000', '275000', '285000', '340000', '70000',
       '289999', '849999', '749999', '274999', '984999', '599999',
       '244999', '474999', '245000', '169500', '370000', '168000',
       '145000', '98500', '209000', '185000', '900000', '699999',
       '199999', '544999', '199000', '540000', '49000', '700000', '55000',
       '895000', '355000', '565000', '365000', '40000', '400000',
       '330000', '580000', '379000', '219000', '519000', '730000',
       '2000000', '2100000', '1400000', '311000', '855000', '535000',
       '178000', '300000', '255000', '549999', '380000', '57000',
       '410000', '225000', '120000', '59000', '599000', '675000', '72500',
       '610000', '230000', '520000', '524999', '424999', '644999',
       '584999', '799999', '444999', '649999', '944999', '574999',
       '374999', '130000', '401000', '1350000', '174999', '239999',
       '99999', '324999', '1074999', '1130000', '149000', '770000',
       '30000', '335000', '399000', '65000', '169999', '165000', '560000',
       '950000', '715000', '45000', '940000', '155555', '1500000',
       '495000', '800000', '1299000', '530000', '1499000', '32000',
       '405000', '760000', '750000', '419000', '140000', '1540000',
       '123000', '498000', '480000', '488000', '1525000', '548900',
       '725000', '99000', '52000', '2800000', '499000', '381000',
       '278000', '690000', '260000', '90001', '115000', '1599000',
       '159000', '51999', '215000', '35000', '1150000', '269000', '60000',
       '430000', '8500003', '401919', '490000', '424000', '205000',
       '549900', '435000', '189700', '389700', '360000', '295000',
       '114990', '1065000', '470000', '48000', '188000', '465000',
       '179999', '2190000', '2390000', '1075000', '475000', '1025000',
       '615000', '1900000', '1490000', '1510000', '1850000', '790000',
       '1725000', '1225000', '68000', '970000', '3100000', '899000',
       '88000', '53000', '568500', '71000', '590000', '795000', '42000',
       '189000', '162000', '35999', '2900000', '39999', '50500', '510000',
       '860000', '500001'], dtype=object)

In [101]:
car=car[car['Price']!='Ask For Price']

In [102]:
car['Price']=car['Price'].astype(int)

In [103]:
car=car[car['kms_driven']!='Petrol']

In [104]:
car

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,80000,"45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,425000,40 kms,Diesel
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,325000,"28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,575000,"36,000 kms",Diesel
6,Ford Figo,Ford,2012,175000,"41,000 kms",Diesel
...,...,...,...,...,...,...
883,Maruti Suzuki Ritz VXI ABS,Maruti,2011,270000,"50,000 kms",Petrol
885,Tata Indica V2 DLE BS III,Tata,2009,110000,"30,000 kms",Diesel
886,Toyota Corolla Altis,Toyota,2009,300000,"1,32,000 kms",Petrol
888,Tata Zest XM Diesel,Tata,2018,260000,"27,000 kms",Diesel
889,Mahindra Quanto C8,Mahindra,2013,390000,"40,000 kms",Diesel

In [105]:
car[['kms_num','kms']]=car['kms_driven'].str.split(' ',expand=True)

In [106]:
car=car.drop('kms_driven',axis=1)

In [107]:
car['kms_num']=car['kms_num'].str.replace(',','')

In [108]:
car['kms_num']=car['kms_num'].astype(int)

In [109]:
car['name'].str.split()

0        [Hyundai, Santro, Xing, XO, eRLX, Euro, III]
1                        [Mahindra, Jeep, CL550, MDI]
3      [Hyundai, Grand, i10, Magna, 1.2, Kappa, VTVT]
4              [Ford, EcoSport, Titanium, 1.5L, TDCi]
6                                        [Ford, Figo]
                            ...
883                  [Maruti, Suzuki, Ritz, VXI, ABS]
885                  [Tata, Indica, V2, DLE, BS, III]
886                          [Toyota, Corolla, Altis]
888                          [Tata, Zest, XM, Diesel]
889                            [Mahindra, Quanto, C8]
Name: name, Length: 817, dtype: object

In [110]:
car=car.drop('kms',axis=1)

In [111]:
car=car.rename(columns=({'kms_num':'kms_driven'}))

In [112]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Index: 817 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        817 non-null    object
 1   company     817 non-null    object
 2   year        817 non-null    Int64
 3   Price       817 non-null    int32
 4   fuel_type   816 non-null    object
 5   kms_driven  817 non-null    int32
dtypes: Int64(1), int32(2), object(3)
memory usage: 39.1+ KB

In [113]:
car=car.dropna(subset=['fuel_type'])

In [114]:
car=car.reset_index(drop=True)

In [115]:
car

,name,company,year,Price,fuel_type,kms_driven
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,80000,Petrol,45000
1,Mahindra Jeep CL550 MDI,Mahindra,2006,425000,Diesel,40
2,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,325000,Petrol,28000
3,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,575000,Diesel,36000
4,Ford Figo,Ford,2012,175000,Diesel,41000
...,...,...,...,...,...,...
811,Maruti Suzuki Ritz VXI ABS,Maruti,2011,270000,Petrol,50000
812,Tata Indica V2 DLE BS III,Tata,2009,110000,Diesel,30000
813,Toyota Corolla Altis,Toyota,2009,300000,Petrol,132000
814,Tata Zest XM Diesel,Tata,2018,260000,Diesel,27000
815,Mahindra Quanto C8,Mahindra,2013,390000,Diesel,40000

In [116]:
car['name']=car['name'].str.split(' ').str[:3].str.join(' ')

In [117]:
car

                       name   company  year   Price fuel_type  kms_driven
0       Hyundai Santro Xing   Hyundai  2007   80000    Petrol       45000
1       Mahindra Jeep CL550  Mahindra  2006  425000    Diesel          40
2         Hyundai Grand i10   Hyundai  2014  325000    Petrol       28000
3    Ford EcoSport Titanium      Ford  2014  575000    Diesel       36000
4                 Ford Figo      Ford  2012  175000    Diesel       41000
..                      ...       ...   ...     ...       ...         ...
811      Maruti Suzuki Ritz    Maruti  2011  270000    Petrol       50000
812          Tata Indica V2      Tata  2009  110000    Diesel       30000
813    Toyota Corolla Altis    Toyota  2009  300000    Petrol      132000
814            Tata Zest XM      Tata  2018  260000    Diesel       27000
815      Mahindra Quanto C8  Mahindra  2013  390000    Diesel       40000

[816 rows x 6 columns]

In [118]:
car=car[car['Price']<6e6].reset_index(drop=True)

In [119]:
car

                       name   company  year   Price fuel_type  kms_driven
0       Hyundai Santro Xing   Hyundai  2007   80000    Petrol       45000
1       Mahindra Jeep CL550  Mahindra  2006  425000    Diesel          40
2         Hyundai Grand i10   Hyundai  2014  325000    Petrol       28000
3    Ford EcoSport Titanium      Ford  2014  575000    Diesel       36000
4                 Ford Figo      Ford  2012  175000    Diesel       41000
..                      ...       ...   ...     ...       ...         ...
810      Maruti Suzuki Ritz    Maruti  2011  270000    Petrol       50000
811          Tata Indica V2      Tata  2009  110000    Diesel       30000
812    Toyota Corolla Altis    Toyota  2009  300000    Petrol      132000
813            Tata Zest XM      Tata  2018  260000    Diesel       27000
814      Mahindra Quanto C8  Mahindra  2013  390000    Diesel       40000

[815 rows x 6 columns]

In [120]:
car.to_csv('Cleaned_Car.csv', index=False)

In [121]:
car=pd.read_csv(r"C:\Users\Dell\Desktop\Machine Learning\Projects\Car Price Prediction\Dataset\Cleaned_Car.csv")

In [122]:
car

                       name   company  year   Price fuel_type  kms_driven
0       Hyundai Santro Xing   Hyundai  2007   80000    Petrol       45000
1       Mahindra Jeep CL550  Mahindra  2006  425000    Diesel          40
2         Hyundai Grand i10   Hyundai  2014  325000    Petrol       28000
3    Ford EcoSport Titanium      Ford  2014  575000    Diesel       36000
4                 Ford Figo      Ford  2012  175000    Diesel       41000
..                      ...       ...   ...     ...       ...         ...
810      Maruti Suzuki Ritz    Maruti  2011  270000    Petrol       50000
811          Tata Indica V2      Tata  2009  110000    Diesel       30000
812    Toyota Corolla Altis    Toyota  2009  300000    Petrol      132000
813            Tata Zest XM      Tata  2018  260000    Diesel       27000
814      Mahindra Quanto C8  Mahindra  2013  390000    Diesel       40000

[815 rows x 6 columns]

## Model

In [123]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.preprocessing import OneHotEncoder

### Train and Test SPlit

In [124]:
x = car.drop('Price',axis=1)

In [125]:
y = car['Price']

In [126]:
x

                       name   company  year fuel_type  kms_driven
0       Hyundai Santro Xing   Hyundai  2007    Petrol       45000
1       Mahindra Jeep CL550  Mahindra  2006    Diesel          40
2         Hyundai Grand i10   Hyundai  2014    Petrol       28000
3    Ford EcoSport Titanium      Ford  2014    Diesel       36000
4                 Ford Figo      Ford  2012    Diesel       41000
..                      ...       ...   ...       ...         ...
810      Maruti Suzuki Ritz    Maruti  2011    Petrol       50000
811          Tata Indica V2      Tata  2009    Diesel       30000
812    Toyota Corolla Altis    Toyota  2009    Petrol      132000
813            Tata Zest XM      Tata  2018    Diesel       27000
814      Mahindra Quanto C8  Mahindra  2013    Diesel       40000

[815 rows x 5 columns]

In [127]:
y

0       80000
1      425000
2      325000
3      575000
4      175000
        ...
810    270000
811    110000
812    300000
813    260000
814    390000
Name: Price, Length: 815, dtype: int64

In [128]:
x_train,x_test,y_train,y_test=train_test_split(x,y, test_size=0.2)

In [148]:
ohe = OneHotEncoder(handle_unknown='ignore')
ohe.fit(x[['name','company','fuel_type']])

OneHotEncoder(handle_unknown='ignore')

In [149]:
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline

In [150]:
column_trans = make_column_transformer((OneHotEncoder(categories=ohe.categories_),['name','company','fuel_type']),
                                      remainder='passthrough')

In [151]:
lr = LinearRegression()

In [152]:
pipe =make_pipeline(column_trans,lr)

In [153]:
pipe.fit(x_train,y_train)

C:\Users\Dell\anaconda3\Lib\site-packages\sklearn\compose\_column_transformer.py:1651: FutureWarning:
The format of the columns of the 'remainder' transformer in ColumnTransformer.transformers_ will change in version 1.7 to match the format of the other transformers.
At the moment the remainder columns are stored as indices (of type int). With the same ColumnTransformer configuration, in the future they will be stored as column names (of type str).
To use the new behavior now and suppress this warning, use ColumnTransformer(force_int_remainder_cols=False).

  warnings.warn(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Audi A3 Cabriolet', 'Audi A4 1.8', 'Audi A4 2.0', 'Audi A6 2.0',
       'Audi A8', 'Audi Q3 2.0', 'Audi Q5 2.0', 'Audi Q7', 'BMW 3 Series',
       'BMW 5 Series', 'BMW 7 Series', 'BMW X1', 'BMW X1 sDrive20d',
       'BMW X1 xDrive20d', 'Chevrolet Beat', 'Chevrolet Beat...
                                                                            array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
       'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
       'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
       'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
      dtype=object),
                                                                            array(['Diesel', 'LPG', 'Petrol'], dtype=object)]),
                                                  ['name', 'company',
                                                   'fuel_type'])])),
                ('linearregression', LinearRegression())])

In [154]:
y_predict=pipe.predict(x_test)

In [155]:
y_predict

array([ 320002.22880693,  272908.79066358,  666667.76115024,
        479373.9547648 ,  344024.16995664,  336645.49684346,
        429554.0687889 ,  147136.81982989,   19783.96477596,
        718140.35401772,  490669.28148977,  533174.47900793,
        674792.88670368,   16073.47640818,  486371.74147312,
        244752.61968962,  259746.05251367,  394433.67724812,
        202157.47214557,  259179.34935521,  433896.94555248,
        384797.12257188,  347351.21467938,  367876.16617083,
        431568.57696579,  -52874.53928532,  427119.81175451,
        137596.53450549,  403908.62430274,   25283.29125939,
        538010.10951786,  306056.34535496, 1157656.96075068,
        604965.3753306 ,  513152.49771387,  332007.93191803,
        114485.78963648, 1579578.08507377,  534437.58532617,
        195555.96360642,  348714.71467968, -182951.5715471 ,
        507779.09190299, 1874697.07067274,  268320.94947536,
        218183.68061602,  104777.94907486,  316132.61091681,
        204422.18771917,  196065.31601215,   66328.40759438,
        622041.5121939 ,  100737.45806906,  262108.17712919,
        652917.82782844, 1644203.90368815,  280709.92774822,
        212999.03428674,  407114.76753432,  406433.69564274,
        205727.95511246,  290006.68335561,  441378.65523019,
        745875.08057703,  213967.51215281,  275806.27182709,
        259861.53289911,  288450.0343987 ,  606172.70962957,
        604965.3753306 ,  206916.95783783,  230825.31296926,
        107858.6530598 ,  417999.50795253,  631004.13409573,
        351551.97398652,   31444.69922927,  502028.71637131,
        100811.182238  ,  574326.79793467,  196111.54456113,
         69171.77341005,  493017.07241239,  387498.79329117,
        456304.18661168,  766549.79921982, -237963.09632938,
        304345.17432705,  431406.06636747,  430027.81121663,
        325217.65426411,  247010.12851413, -130705.28045177,
        629658.3417604 ,  298016.83618494,  488919.47350959,
        -71308.88634471,  282074.61417517,  261092.27964274,
        286862.78145103,  164938.31808819,  106895.73563651,
        278004.92154457,  167224.48773878,  337799.30935317,
        413365.08799668,  609952.28807461,  173872.53436726,
        699036.66705261,   42697.04803776,  217748.74525131,
        628329.01625588,  270334.39159756,  528074.98750398,
        275391.62775148,  333470.58005036,   98643.50233264,
        -67260.98726264,  578530.17237452,  387150.30281571,
        726965.31437036,  316869.87770607,  627237.78862938,
        474811.05211556,  282170.67099167, 1874477.0203881 ,
       1874477.0203881 ,  161331.88663491,  162360.66772959,
        248138.86470456,  -61849.00782013,   58373.77440636,
        272908.79066358,  303442.53553372,   31018.065673  ,
        591630.49557672,  291844.64201511, 1545942.68862767,
        669440.33807132,  470437.4207247 ,  752030.58760728,
        416672.11674087,  591630.49557672,  357888.09798249,
        550892.63749498,  440624.72473378,  -29551.48561287,
        109644.68337443,  629930.40644998,  514187.87330997,
        507393.86346921,  554295.64004833,  -17476.27517372,
        535407.11557845, 1164405.81579266,  616880.6171463 ,
       1874697.07067274, 1874697.07067274,  369418.12447848,
        496673.07339454,  539991.84235699,  420998.46038156,
        626886.17036439])

In [156]:
r2_score(y_test,y_predict)

0.8457042416667213

In [157]:
score =[]
for i in range(1000):
    x_train,x_test,y_train,y_test=train_test_split(x,y, test_size=0.2, random_state=i)
    lr = LinearRegression()
    pipe = make_pipeline(column_trans,lr)
    pipe.fit(x_train,y_train)
    y_pred=pipe.predict(x_test)
    r2_score(y_test,y_pred)
    score.append(r2_score(y_test,y_pred))

In [158]:
import numpy as np

In [159]:
np.argmax(score)

433

In [160]:
score[np.argmax(score)]

0.8457042416667213

In [161]:
x_train,x_test,y_train,y_test=train_test_split(x,y, test_size=0.2, random_state=np.argmax(score))
lr = LinearRegression()
pipe = make_pipeline(column_trans,lr)
pipe.fit(x_train,y_train)
y_pred=pipe.predict(x_test)
r2_score(y_test,y_pred)

0.8457042416667213

In [162]:
pipe.predict(pd.DataFrame([['Maruti Suzuki Ritz','Maruti',2019,'Petrol',100]],
                         columns=['name','company','year','fuel_type','kms_driven']))

array([515312.8231964])

In [163]:
 import pickle

In [164]:
pickle.dump(pipe,open(r"C:\Users\Dell\Desktop\Machine Learning\Projects\Car Price Prediction\Dataset\LinearRegressionModel.pkl",'wb'))

In [167]:
pickle.dump(ohe, open("OneHotEncoder.pkl", "wb"))

In [168]:
pipe.predict(pd.DataFrame([['Maruti Suzuki Ritz','Maruti',2019,'Petrol',100]],
                         columns=['name','company','year','fuel_type','kms_driven']))

array([515312.8231964])